{{ define "main" }}
{{ partial "page-header.html" . }}

<!-- ABOUT PAGE WRAPPER -->
<section class="about-page">

    <!-- ABOUT ME TILE -->
    {{ partial "about-me-tile.html" . }}

    <!-- HOW I TEACH -->
    <section class="about-block">
        <h2>How I Teach</h2>

        <ul>
            <li>Beginner-first, Python-first approach</li>
            <li>Strong focus on fundamentals and mental models</li>
            <li>Live practice instead of passive watching</li>
            <li>Clarity over shortcuts and memorisation</li>
        </ul>
    </section>

    <!-- YOUTUBE SECTION -->
    <section class="about-block">
        <h2>Learn with Me on YouTube</h2>

            <div class="playlist-grid">
                <iframe width="560" height="315"
                    src="https://www.youtube.com/embed/videoseries?si=rKxa8mBR5YaSQDTo&amp;list=PLo8TPLc6QbB-J9o0mJD-U02kecIpMHJLr"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            
                <iframe width="560" height="315" src="https://www.youtube.com/embed/ljPbU4f8TX8?si=_r3NW1PUqzGtWcVH"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            
                <iframe width="560" height="315" src="https://www.youtube.com/embed/Jd5U_kiGf4k?si=6OLpQ307XimWlevG"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            
                <iframe width="560" height="315" src="https://www.youtube.com/embed/Gts4TyL0Oo0?si=DdCXh-mep45pgANg"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
    </section>

</section>

{{ end }}










