<section class="home-course-tile">
    <div class="home-course-tile__inner">

        <div class="home-course-tile__content">
            <span class="course-badge">
                <span class="live-dot"></span>
                LIVE COURSE
            </span>

            <h2 class="home-course-tile__title">
                DSA with Python – Zero to Hero
            </h2>

            <p class="home-course-tile__description">
                A structured, practice-first program to master Data Structures and Algorithms using Python, from
                fundamentals to advanced problem solving.
            </p>

            <!-- <ul class="home-course-tile__features"> -->
            <ul class="course-features">
                <li>Designed for absolute beginners</li>
                <li>Hands-on Python from scratch</li>
                <li>24+ interactive live sessions</li>
                <li>Indepth concept & hands-on practice</li>
                <li>Course duration: Almost 3 months</li>
                <li>Language: English + Hindi</li>
                <li>Doubt support</li>
                <li>Weekly live practice sessions</li>
                <li>Access to learner community</li>
            </ul>

            <section class="home-course-audience">
                <h4 class="course-audience-title">This course is for</h4>
                <ul class="course-audience">
            
                <ul class="course-features">
                    <li>Students starting with programming</li>
                    <li>Professionals wanting to upskill using DSA </li>
                    <li>Self-learners who want structured guidance</li>
                    <li>Anyone struggling to stay consistent alone</li>
                </ul>
            </section>


            <div class="home-course-tile__actions">
                <a href="https://learn.codeverra.com/s/store" class="home-course-tile__cta" target="_blank"
                    rel="noopener noreferrer">
                    Enroll Now!
                </a>
            
                <!-- <div class="home-course-tile__meta">
                    For beginners • Live classes
                </div> -->
            </div>
        </div>

        <div class="home-course-tile__image">
            <img src="/images/DSA-with-python-live-course.png" alt="DSA with Python – Zero to Hero course cover" />
        </div>

    </div>
</section>